<template lang="html">
  <NewsForm adminmethod="new" />
</template>

<script>
import NewsForm from './NewsForm.vue';

export default {
  components: {
    NewsForm,
  }
}
</script>

<style lang="scss" scoped>
</style>
