<template lang="html">
  <AnimalForm v-show="animal!=='undefined'" adminmethod="update" :animal="animal"/>
</template>

<script>
import AnimalForm from './AnimalForm.vue';

export default {
  computed:{
    animal(){
      return this.$store.getters.animalById(this.$route.params.id)
    }
  },
  components: {
    AnimalForm,
  },
}
</script>

<style lang="scss" scoped>
</style>
