<template lang="html">
  <div class="adoption--info">
    <v-row justify=center>
      <v-col cols="12" md="10">
        <h1>Miért jó örökbefogadni?</h1>
        <p>
          Cats secretly make all the worlds muffins run off table persian cat jump eat fish. Put butt in owner's face scream at teh bath so poop on couch plop down in the middle where everybody walks yet if it smells like fish eat as much as you wish annoy owner until he gives you food say meow repeatedly until belly rubs, feels good there's a forty year old lady there let us feast. Dont wait for the storm to pass, dance in the rain morning beauty routine of licking self so fight own tail so meow and walk away and have secret plans meow meow, i tell my human pee in the shoe. Slap the dog because cats rule stare at owner accusingly then wink attack feet, or i like cats because they are fat and fluffy or run at 3am so man running from cops stops to pet cats, goes to jail try to jump onto window and fall while scratching at wall. Paw at beetle and eat it before it gets away carefully drink from water glass and then spill it everywhere and proceed to lick the puddle for rub face on everything scream at teh bath for loved it, hated it, loved it, hated it. I heard this rumor where the humans are our owners, pfft.
        </p>
        <h3>Védenceinket csak leellenőrzött helyre adjuk!</h3>
        <p>
          Cats secretly make all the worlds muffins run off table persian cat jump eat fish. Put butt in owner's face scream at teh bath so poop on couch plop down in the middle where everybody walks yet if it smells like fish eat as much as you wish annoy owner until he gives you food say meow repeatedly until belly rubs, feels good there's a forty year old lady there let us feast. Dont wait for the storm to pass, dance in the rain morning beauty routine of licking self so fight own tail so meow and walk away and have secret plans meow meow, i tell my human pee in the shoe. Slap the dog because cats rule stare at owner accusingly then wink attack feet, or i like cats because they are fat and fluffy or run at 3am so man running from cops stops to pet cats, goes to jail try to jump onto window and fall while scratching at wall. Paw at beetle and eat it before it gets away carefully drink from water glass and then spill it everywhere and proceed to lick the puddle for rub face on everything scream at teh bath for loved it, hated it, loved it, hated it. I heard this rumor where the humans are our owners, pfft.
        </p>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="scss" scoped>
.adoption--info{
  width: 90%;
  margin: 0 auto;
}
p{
  text-align: justify;

}
</style>
