.componentSelectNav{
  text-align:center;
  margin-bottom: 20px;
  
  .navitem{
    display: inline-block;
    padding: 0 15px;
    cursor: pointer;
    color: $lightbrown;

    @media(max-width:600px){
      display: block;
    }

  }

  .navitem:hover,
  .navitem-active{
    color: $darkbrown;
    font-weight: bold;
  }

  .divider{
    @media(max-width:600px){
      display: none;
    }
  }
}
