// my palette

$darkbrown: #4f2523;
$lightbrown: #a1795a;
$silver: #d6e0e6;
$darksilver: #5f5c58;
$almostblack: #08051b;


//brown opaque background for cards
$cardbackground: rgba(255,228,196,0.3);

//forminput background
$forminputbg: rgb(245,222,179);
