@import './_palette.scss';
@import './_navigation.scss';


@keyframes fade-in{
  from{
    opacity: 0;
  }
  to{
    opacity:1;
  }
}

@keyframes fade-out{
  from{
    opacity: 1;
  }
  to{
    opacity:0;
  }
}

.fade{
  &-enter-active{
    animation: fade-in 2s ease forwards;
  }
  &-leave-active{
    // animation: fade-out 0.3s ease forwards;
  }
}

.longfade{
  &-enter-active{
    animation: fade-in 3s ease forwards;
  }
  &-leave-active{
    animation: fade-out 3s ease forwards;
  }
}


@keyframes slide-in{
  from{
    transform: translateX(200px);
  }
  to{
    transform: translateX(0);
  }
}

@keyframes slide-out{
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(300px);
  }
}

.slide{
  &-enter-active{
    animation: slide-in 0.3s ease-out forwards;
  }
  &-leave-active{
    // animation: slide-out 0.3s ease-out forwards;
  }
}
