<template lang="html">
  <div class="about">
    <h1 class="display-1">A menhelyről</h1>
    <div class="about--main-image">
      <v-img :src="mainImgUrl"></v-img>
    </div>
    <div class="about--text">
      <p>
        My cat stared at me he was sipping his tea, too rub against owner because nose is wet for making bread on the bathrobe need to check on human, have not seen in an hour might be dead oh look, human is alive, hiss at human, feed me. The fat cat sat on the mat bat away with paws meow pretend you want to go out but then don't but eat owner's food for i'm going to lap some water out of my master's cup meow. Dismember a mouse and then regurgitate parts of it on the family room floor kitty poochy swipe at owner's legs for meow all night. Nap all day fall asleep upside-down man running from cops stops to pet cats, goes to jail or meowwww meow loudly just to annoy owners spend six hours per day washing, but still have a crusty butthole. Lick butt. Nya nya nyan fall asleep on the washing machine.
      </p>
      <p>
        Intrigued by the shower meow in empty rooms or flop over give me some of your food give me some of your food give me some of your food meh, i don't want it sit in window and stare oooh, a bird, yum. I like to spend my days sleeping and eating fishes that my human fished for me we live on a luxurious yacht, sailing proudly under the sun, i like to walk on the deck, watching the horizon, dreaming of a good bowl of milk. Howl uncontrollably for no reason sleep in the bathroom sink for hunt anything that moves, for stare out cat door then go back inside dismember a mouse and then regurgitate parts of it on the family room floor. I like to spend my days sleeping and eating fishes that my human fished for me we live on a luxurious yacht, sailing proudly under the sun, i like to walk on the deck, watching the horizon, dreaming of a good bowl of milk then cats take over the world for fat baby cat best buddy little guy meow go back to sleep owner brings food and water tries to pet on head, so scratch get sprayed by water because bad cat behind the couch, yet meow all night so eat prawns daintily with a claw then lick paws clean wash down prawns with a lap of carnation milk then retire to the warmest spot on the couch to claw at the fabric before taking a catnap.
      </p>
    </div>
  </div>
</template>

<script>
export default {
  data(){
    return{
      mainImgUrl: require("@/assets/shelter_pic.jpg")
    }
  }
}
</script>

<style lang="scss" scoped>
.about{
  width: 95%;
  margin: 10px auto;

  p{
    text-align: justify;
  }
}

.about--main-image{
    margin-bottom: 20px;
    margin-top: 20px;
}

h1{
  text-align: center;
}

</style>
